{% extends 'find_ur_home/index.html' %}

{% load staticfiles %}

{% block content %}



{% include 'find_ur_home/navbar.html' %}

<div class="container">
    <span>
        <header class=" text-muted">
            
            <strong><em><h2 id="form-title"> edit image </h2></em></strong>
        </header>
        <hr style="width: 600px;border-top: 1px solid #8c90af;"/>
    </span>

    <form method="post" enctype="multipart/form-data" class="form-horizontal" id="profiler-form"  style="text-align: left;padding: 15px;">{% csrf_token %}

        {% for input in form %}
       <div class="form-group">
         <div class="col-sm-2 control-label">
             {{input.label_tag}}
          </div>
           <div class="col-sm-10">
               {{input}}{% if input == form.password and user %}you can change your password from <a href="{% url 'password_reset' %}">here</a>{% endif %}
           </div>

       </div>

        <br/>
        {% endfor %}



        <hr style="width: 600px;border-top: 1px solid #8c90af;"/>


        <div style="text-align: right;">

           <button class="btn btn-success" id="submit-btn" type="submit">submit</button>
        </div>


    </form>

    <link rel="stylesheet" href="{% static 'editinfo.css' %}"/>

    <script lang="text/javascript">

    $(document).ready(function(){

        
        $("#home").attr("class", "");
        $('#sell-house').attr('class', '');
        $("#profile").attr("class","active");
        

        
    });
    </script>


    
{% endblock %}


